.home__description {
  line-height: 1.5;
  font-size: 16px;
  color: #ffff;
  position: relative;
  z-index: 31;
}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 31;
  margin-bottom: 100px;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
