.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  color: #fff;
  position: sticky; // Use sticky instead of fixed
  top: 0; // Stick to the top of the viewport
  width: 100%;
  z-index: 1000; // Highest z-index to ensure it's on top
  backdrop-filter: blur(10px); // Optional: Add a blur effect to the background

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;

    .logotype {
      padding-left: 10px;
    }
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 1.5rem;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          color: #0070f3;
        }
      }
    }
  }
}
