.home__container {
  z-index: 30;
  position: relative;
  text-align: center;
  width: 100%;

  .social__icons--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }

  .home__container {
    display: fixed;

    .home__title {
      margin: 0;
      line-height: 1.15;
      text-align: center;
      font-size: 105px;
      color: #9795ff;
      background-image: linear-gradient(
        45deg,
        #9795ff 0%,
        #ffffff 42%,
        #ffffff 59%,
        #be9fff 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .home__description {
      line-height: 1.5;
      font-size: 16px;
      text-align: center;
      color: #ffff;
    }
  }
}
